/* @import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Droid Serif'); */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;   
}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../img/social_dance_background.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 500%;  
    
    line-height: 80%;
    text-transform: uppercase;
}

.content h3 {
    font-family: 'Droid Serif', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 250%;
    font-style: italic;
    font-weight: 400;
    line-height: 20%;
}
.btn {    
    border-radius: 9px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #fdd851;
    font-size: 120%;
    padding: 20px 40px; 
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}
.btn:hover{
    background: #fed136;
}
.btn:focus {    
    border: 5px solid rgba(0,0,0, 0.3);
    
    background: #fed136;
}
p {
    font-size: 160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}
@media screen and (max-width: 768px){
    .content h1 {
        font-size: 240%;        
    }
    .btn {
        font-size: 80%;
        padding: 10px 20px;
    }
    p {
        font-size: 100%;
        line-height: 160%;
    }
    .content h2 {
        font-size: 200%;
        
    }
    .content h3 {        
        font-size: 125%;
    }
}